.text-principal {
	color: $colorPrincipal;
}
.iconbackground {
	min-width: 60px;
	max-width: 60px;
	height: 60px;
	padding: 10px;
	text-align: center;
}
.bordebajocustom {
	border-bottom: 2px solid $colorPrincipal;
}
.noresize {
	resize: none;
}
.top-45 {
	top: 45%;
}
.start-45 {
	left: 45%;
}
.cajablur {
	backdrop-filter: blur(15px);
}
.w-65 {
	width: 65%;
}
.imgcaratula {
	width: 300px;
}
.sombra {
	-webkit-box-shadow: 10px 10px 37px -8px $blanco;
	-moz-box-shadow: 10px 10px 37px -8px $blanco;
	box-shadow: 10px 10px 37px -8px $blanco;
}
.sombraprimary {
	-webkit-box-shadow: 10px 10px 37px -19px $colorPrincipal;
	-moz-box-shadow: 10px 10px 37px -19px $colorPrincipal;
	box-shadow: 10px 10px 37px -19px $colorPrincipal;
}
.letra {
	font-size: 25px;
	transition: 0.8s;
}
.letra:hover {
	font-size: 25px;
	color: $colorPrincipal;
	transform: rotateY(360deg);
}
.logo {
	width: 100px;
	height: 100px;
}
.botoncta {
	align-items: center;
	background-image: linear-gradient(
		144deg,
		$colorPrincipal,
		$negro 30%,
		$negro 70%,
		$colorPrincipal
	);
	box-shadow: $colorPrincipal 0 2px 30px -5px;
	font-family: Phantomsans, sans-serif;
	max-width: 100%;
	min-width: 100px;
	transition: all 0.3s;
	&:hover,
	&:active {
		outline: 0;
	}
	&:active {
		transform: scale(0.9);
	}
	&:hover .botontext {
		background: none;
	}
}
.botontext {
	background-color: $negro;
	padding: 8px 16px;
	border-radius: 6px;
	transition: 300ms;
}
