.text-principal {
	color: $colorPrincipal;
}

.nav-link:hover {
	color: lighten($colorPrincipal, 20%);
}
.iconbackground {
	min-width: 60px;
	max-width: 60px;
	height: 60px;
	padding: 10px;
	text-align: center;
}
.bordebajocustom {
	border-bottom: 2px solid $colorPrincipal;
}
.noresize {
	resize: none;
}
.top-45 {
	top: 45%;
}
.start-45 {
	left: 45%;
}
.cajablur {
	backdrop-filter: blur(15px);
}
.w-65 {
	width: 65%;
}
.imgcaratula {
	width: 300px;
}
.sombra {
	-webkit-box-shadow: 10px 10px 37px -8px $blanco;
	-moz-box-shadow: 10px 10px 37px -8px $blanco;
	box-shadow: 10px 10px 37px -8px $blanco;
}
.sombraprimary {
	-webkit-box-shadow: 10px 10px 37px -19px $colorPrincipal;
	-moz-box-shadow: 10px 10px 37px -19px $colorPrincipal;
	box-shadow: 10px 10px 37px -19px $colorPrincipal;
}
.letra {
	font-size: 25px;
	transition: 0.8s;
}
.letra:hover {
	font-size: 25px;
	color: $colorPrincipal;
	transform: rotateY(360deg);
}
