@mixin flexCentrado() {
	display: flex;
	justify-content: center;
	align-items: center;
}

@mixin mainbackground() {
	
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
