body#principal {
	background-image: url("../img/hero_evilbackground.webp");
	width: 100%;
	min-height: 100vh;
	//overflow: hidden;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
body#contacto {
	min-height: 100vh;
	//overflow: hidden;
	background: url("../img/fondocontacto2.jpg"), lighten($negro, 25%); //rgba(32, 27, 17, 100); //linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(32, 27, 17, 1) 100%);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-blend-mode: multiply;
}
